body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-align: center;
    overflow-y: scroll;
    color: #333;
    letter-spacing: 1px;
    background-color: #fff;
}

header {
    padding: 10px 20px;
}

.chatroom {
    width: 1100px;
    margin: auto;
    border: 3px solid black;
}

.chat_container {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    padding: 24px;
    margin: 2px;
    border: 1px solid black;
}

.message_box {
    display: inline-block;
    padding: 2px;
    width: 500px;
    margin: 2px;
    border: 1px solid blue;

}

.user_form_container {

    width: 100%;
    height: 350px;
    padding: 1px;
    border: 1px solid black;
    overflow-y: auto;

}

.your_msg {
    background-color: cyan;
    float: left;
}

.opp_msg {
    background-color: coral;
    float: right;
}

.outgoing_message {
    width: 65%;
    float: left;
    font-size: 16px;
    height: 28px;
    border: 1px solid black;
}

.participants_container {

    display: inline-block;
    float: right;
    vertical-align: top;
    background-color: #fff;
    padding: 24px;
    margin-top: 2px;
}

.sp{
    font-size: 50%;
    float: left;
}

.pull-right{
    float: right;
}

.name_container {
    padding: 20px 5px;
    background-color: #fff;
    border: 1px solid blue;
}

.input_container {
    width: 100%;
    padding: 20px 0 0 0;
}

.server_status {
    width: 100%;
    background-color: greenyellow;
}

.btn {
    border: solid black;
    float: right;
    width: 30%;
    height: 28px;
}
.btn:active {
    background-color: red;
}
.clear {
    clear: both;
}